/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

/*utility*/
a {
    text-decoration: none;
}

/*Navbar*/
nav {
    background: #333;
    overflow: auto;
}

nav h1 {
    float: left;

}
nav a {
    color: white
}

nav ul {
    float: right;
    list-style: none;
}

nav ul li {
    float: left;
}